<div class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <!-- Home icon button on the left -->
        <button id="h1" mat-icon-button color="accent" routerLink="">
          <mat-icon>home</mat-icon>
        </button>
  
        <!-- Centered brand/logo -->
        <a class="navbar-brand mx-auto" routerLink="/about">CUSTOM PROGRAM</a>
  
        <button routerLink="" type="button" class="btn btn-outline-light">
          LOGOUT
        </button>
      </div>
    </nav>
  
    <div
      class="container d-flex align-items-center justify-content-center flex-wrap"
    >
      <div class="box">
        <div class="body">
          <div class="imgContainer">
            <img
              src="../../assets/image/digital-technology-background.jpg"
              alt=""
            />
            <h4 class="image-heading" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: white;">IT</h4>
          </div>
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <div class="innerbox">
              <h3 class="text-black fs-5">IT</h3>
  
              <p class="card-text">
                <u style="color: green"
                  >Basic<br />Intermediate<br />Advance<br />Expert</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="body">
          <div class="imgContainer">
            <figure>
              <img src="../../assets/image/4k-tech-105e3a4x7aw7coqd.jpg" alt="" />
            </figure>
            <h1 class="image-heading">EMBEDDED</h1>
          </div>
  
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <div class="innerbox">
              <h3 class="text-black fs-5">Embedded</h3>
  
              <p class="card-text">
                <u style="color: green"
                  >Basic<br />Intermediate<br />Advance<br />Expert</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="body">
          <div class="imgContainer">
            <img src="../../assets/image/elec1.jpg" alt="" />
            <h1 class="image-heading">ELECTRICAL</h1>
          </div>
  
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <div class="innerbox">
              <h3 class="text-black fs-5">Electrical</h3>
  
              <p class="card-text">
                <u style="color: green"
                  >Basic<br />Intermediate<br />Advance<br />Expert</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container d-flex align-items-center justify-content-center flex-wrap"
    >
      <div class="box">
        <div class="body">
          <div class="imgContainer">
            <img src="../../assets/image/embd1.jpg" alt="" />
            <h1 class="image-heading">IT-EMBEDDED</h1>
          </div>
  
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <div class="innerbox">
              <h3 class="text-black fs-5">IT-Embedded</h3>
  
              <p class="card-text">
                <u style="color: green"
                  >Basic<br />Intermediate<br />Advance<br />Expert</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="body">
          <div class="imgContainer">
            <img src="../../assets/image/Picture1.png" alt="" />
            <h1 class="image-heading">PROCESS</h1>
          </div>
  
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <div class="innerbox">
              <h3 class="text-black fs-5">Process</h3>
  
              <p class="card-text">
                <u style="color: green"
                  >Basic<br />Intermediate<br />Advance<br />Expert</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="body">
          <div class="imgContainer">
            <img src="../../assets/image/test.jpg" alt="" />
            <h1 class="image-heading">TESTING</h1>
          </div>
  
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <div class="innerbox">
              <h3 class="text-black fs-5">Testing</h3>
  
              <p class="card-text">
                <u style="color: green"
                  >Basic<br />Intermediate<br />Advance<br />Expert</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  